*.mo
*.pyc
*.pyo
*.swp
*~

*/build/*.cache
*/data/templates/translations.html
*/httpd/conf/httpd.conf
*/httpd/conf/languages.conf
*/httpd/conf/languages.conf.in
*/httpd/logs/*_log
*/httpd/run/*.pid
*/out
