<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

	<div id="sidebar">
		<div id="what-i-need">
			<h2>${_('What will I need?')}</h2>
			<ul class="checkmark-list">
				<li>${_('A blank CD or DVD')}</li>
				<li>${_('Download and install the &lt;a href="https://fedorahosted.org/liveusb-creator/"&gt;LiveUSB creator software&lt;/a&gt;. The download and instructions are available at the LiveUSB Creator website.')}</li>
				<li>${_('Follow the instructions given at the site and in the liveusb-creator program to create the bootable USB media.')}</li>
			</ul>
		</div>
		<div id="more-fedora">
			<h2>${_('There\'s more Fedora!')}</h2>
			<a href="${relpath}/"><img src="/static/images/download-now.png" /></a>
		</div>
		<div id="handy-resources">
			<h2>${_('Handy Resources')}</h2>
			<ul class="checkmark-list">
				<li>${_('Installation Quickstart Guide')}</li>
				<li>${_('Installation Guide')}</li>
				<li>${_('Release Notes')}</li>
				<li>${_('Upgrading Fedora')}</li>
				<li>${_('Help and Support')}</li>
			</ul>
		</div>
		<div id="just-want-fedora">
			<h2>${_('Help, I just want Fedora!')}</h2>
			<p>${_('Whoah, there\'s a lot of options here. Do you just want the main Fedora available for download?')}</p>
			<h3><a href="/about">${_('Get it here.')}</a></h3>
		</div>
		<div id="all-these-desktops">
			<h2>${_('What are all these desktops?')}</h2>
			<p>${_('There are multiple desktop available for use with Fedora. Each has a slighly different look and feel and offers varying levels of customization. Desktops affect how windows, icons, menus, and various basic desktop interfaces look and feel. You may want to try a few different ones and figure out which one is best for you!')}</p>
			<h3><a href="${relpath}/">${_('Link to Guide. &gt;')}</a></h3>
		</div>
		<div id="older-releases">
			<h2>${_('Looking for older releases?')}</h2>
			<p>${_('Older Fedora release are available in our release archive at:')}</p>
			<h3><a href="http://archive.fedoraproject.org/">${_('http://archive.fedoraproject.org/')}</a></h3>
		</div>
	</div>
</html>
