<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
<div class="container_16">
    <div class="grid_10" id="site-heading">
        <h1><span id="logo">Fedora</span> <span>community.org</span></h1>
        <h2>${_('Region-Specific Fedora Websites')}</h2>
    </div>
    <div class="grid_6">
        <div id="site-nav">
            <ul>
                <li><a href="http://fedoraproject.org/">${_('Home')}</a></li>
                <li><a href="http://fedoraproject.org/get-fedora">${_('Get Fedora')}</a></li>
                <li><a href="http://fedoraproject.org/get-help">${_('Help')}</a></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>		
    <div id="header-globe" class="grid_16">
        <img alt="Map of the world" src="static/images/worldmap.png"/>
        <p>${_('Fedora Project contributors in various countries maintain their own region-specific content. Each site is solely responsible for the content they post.')}</p>
        <p>${_('A list of region-specific websites is available below.')}</p>
    </div>
    <div class="clear"></div>
    <div id="continent-nav" class="grid_16">
        <a href="apac.html"><div class="grid_3 alpha asia-head"><img class="continent-icon" src="static/images/tab_label-apac.png" /><h3>${_('Asia-Pacific')}</h3></div></a>
        <a href="emea.html"><div class="grid_5 africa-head"><img class="continent-icon" src="static/images/tab_label-emea.png" /><h3>${_('Europe, Middle East, and Africa')}</h3></div></a>
        <a href="latam.html"><div class="grid_4 america-head"><img class="continent-icon" src="static/images/tab_label-latam.png" /><h3>${_('Latin America')}</h3></div></a>
        <a href="northam.html"><div class="grid_4 omega europe-head"><img class="continent-icon" src="static/images/tab_label-na.png" /><h3>${_('North America')}</h3></div></a>
    </div>
</div>
</html>
