
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
    <option value="de" py:attrs="{'selected': lang == 'de' and 'selected' or None}">de</option>
    <option value="en" py:attrs="{'selected': lang == 'en' and 'selected' or None}">en</option>
    <option value="el" py:attrs="{'selected': lang == 'el' and 'selected' or None}">el</option>
    <option value="it" py:attrs="{'selected': lang == 'it' and 'selected' or None}">it</option>
    <option value="pl" py:attrs="{'selected': lang == 'pl' and 'selected' or None}">pl</option>
    <option value="pt_BR" py:attrs="{'selected': lang == 'pt_BR' and 'selected' or None}">pt_BR</option>
</html>

