/*
 * Notes:
 * Grid 960 relies on sized elements and margins to create a correctly sized row.
 * If you apply padding or borders, the design breaks. If you do, you have to adjust the size of the div to reflect the changes. Be weary of this.
 * Adjust the sizes of elements in two places will always lead to confusion and make the design harder to maintain.
*/


/* 960 grid system container background
----------------------------------------------- */
.container_12,
.container_16 {
    background:#fff;
}

#header, #site-content {
    background-color: #fff;
}

#bottom .container_16 {
    background-color: #e6e6e6;
}


/* page background
----------------------------------------------- */
body {
    background: #E6E6E6;
    color: #333;
    font-size: .8em;
    padding: 0 0 40px;
    font-family: "CantarellRegular", "sans-serif";
}


/* anchors
----------------------------------------------- */
a {
}

a:hover {
    color:#333;
}


/* headings
----------------------------------------------- */
h1, h2, h3, h4, h5, h6 {line-height:1.2em; margin-bottom:.3em;}
h1 { font-size:2em; color: #ffffff;}
h2 { margin-top:1em; color: #294172; }
h3 { color: #3c6eb4; text-transform: uppercase; }
h4 { color: #666; }
h5 {font-size:1.2em; }
h6 {font-size:1em; }


h1 a {
    font-weight:normal;
}


/* paragraphs, quotes and lists, links
----------------------------------------------- */
p {
    margin-bottom:1em;
}

blockquote {
    font-family: Georgia, 'Times New Roman', serif;
    font-size:1.2em;
    padding-left:1em;
    border-left:4px solid #ccc;
}

blockquote cite {
    font-size:.9em;
}

ul, ol {
    padding-top:0;
}

a {
    text-decoration: none;
    color: #3b6eb4;
    font-weight: bold;
}

a:hover {
  color: #87a9d8;
}

/* Header, top section
----------------------------------------------- */
#header {
    padding-bottom: 15px;
    padding-top: 15px;
}

/* site heading
----------------------------------------------- */
#site-heading {
    padding: .5em 0;
}

#site-heading h1 span#logo {
    background:transparent url(../images/fedora-logo.png) no-repeat scroll 0px 0px;
    height: 45px;
    width: 155px;
    display: block;
    text-indent: -9999px;
    float: left;
    margin-right: 1em;
}

#site-heading h1 span {
    font-family: "ComfortaaRegular", "sans-serif";
    font-weight: normal;
        color: #888a85;
    font-size: 27px !important;
    float: left;
    clear: left;
}

#site-heading h2 {
    text-transform: uppercase;
    font-family: "ComfortaaRegular", "sans-serif";
    font-weight: normal;
    color: #3c6eb4;
    font-size: 16px;
}

/* language selection
----------------------------------------------- */
.lang-dropdown {
    float: right;
    background: url("../images/icon-search-globe.png") no-repeat scroll left center transparent;
    padding-left: 23px;
    /* background:url("/static/images/spins-directory-icon.png") no-repeat scroll left center transparent; */
}

/* site navigation
----------------------------------------------- */
#site-nav {
    background: #e1e1df;
    background: url(../images/nav-background.png) repeat-x !important;
    border: 1px #babdb6 solid;
    margin-top: 25px;
    height: 28px;
    font-size: 1.2em;
    font-family: "ComfortaaRegular", sans-serif;
    text-shadow: 1px 1px 1px white;
    -moz-border-radius: 10px;
}

#site-nav li {
    #display: inline;
    margin: 0px;
    list-style-type: none;
    margin-top: 2px;
}

#site-nav li:first-child { margin-left: 10%; }
#site-nav li:last-child { margin-right: 10%; }

#site-nav a {
    color:#7F817D;
    text-align:center;
    text-transform:uppercase;
    text-decoration: none;
    float:left;
    text-align:center;
    border-right: 1px solid #ccc;

    padding-left: 5%;
    padding-right: 5%;
}

#site-nav li:last-child a { border-right: none !important; }

#site-nav a:hover {
    color: #6a8ec1;
    background: url(../images/nav_active-background.png) repeat-x;
    margin-top: -2px;
    padding-top: 2px;
    padding-bottom: 4px;
}

/* main nav */

#main-nav {
    background-color: #2a5694;
    background: url(../images/bg_main-nav.png) repeat-x !important;
    height: 30px;
    padding-top: 15px;
    padding-bottom: 5px;
}

#main-nav div { background-color: inherit !important; }

#main-nav li {
    display: inline;
}

#main-nav a {
    text-decoration: none;
    font-weight: bold;
    color: #ececec;
}

#nav-menu li {
    font-family: "CantarellRegular", "sans-serif";
    font-size: 12pt;
    text-shadow: .5px .5px .5px #222;
}

/* bottom section, footer
----------------------------------------------- */

#bottom {
    background:transparent url('../images/footer-trim.png') repeat-x 0 0; /* make this image smaller */
    /*border-top: 5px #4B9EDE solid; // this is an alternative */
    padding: 30px 0px 0px 0px;
    /* may not be needed */
    margin:0;
    width:100%;
}

#bottom a {
    font-weight: normal;
}

#footer {
    background-color: #e6e6e6;
    background-image: none;
    color: #4d4d4d;
    padding-bottom: 15px;
    font-size: .85em;
}

#footer a {
    color: #3771c8;
}

#footer .rh-logo {
    float: left;
    margin-right: 15px;
    padding-top:3ex;
}

#footer p {
    margin: 0px;
}

#footer .disclaimer {
    font-style: italic;
}

#footer ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin-bottom:0.8em;
}

#footer li.first {
    border-left:medium none;
}

#footer li {
    border-left:1px solid #AAAAAA;
    display:inline;
    margin-left:-1px;
    padding:0 0.75ex;
}

.sitelinks {
    line-height: 1.6;
    color: #808080;
}

.sitelinks a {
    color: #808080;
    text-decoration: none;
}

.sitelinks dt {
    font-weight: bold;
}

/* Page header
----------------------------------------------- */
.page-header {
	width: 100%;
	height: 111px;
	display: block;
	margin-bottom: 15px;
}

.page-header-sidebar { height: 111px; }

/* individual header settings */
#header-help {
background: #a07cbc; /* purple */
background-image: -moz-radial-gradient(30% 30% 45deg, circle farthest-side, #a07cbc, #755B8A);
background-image: -webkit-gradient(radial, 30% 30%, 0, 30% 30%, 900, from(#a07cbc), to(#755B8A));
}

#header-features {
background: url('http://localhost:5000/static/images/headers/features-laptops.png') no-repeat bottom right #7bcd40; 
background: #e59728; /* orange */
background-image: -moz-radial-gradient(30% 30% 45deg, circle farthest-side, #e59728, #B3761F);
background-image: -webkit-gradient(radial, 30% 30%, 0, 30% 30%, 900, from(#e59728), to(#B3761F));
}

#header-download {
background: #79db32; /* green */
background-image: -moz-radial-gradient(30% 30% 45deg, circle farthest-side, #79db32, #5DA826);
background-image: -webkit-gradient(radial, 30% 30%, 0, 30% 30%, 900, from(#79db32), to(#5DA826));
}

#header-join {
background: #DB3279; /* magenta */
background-image: -moz-radial-gradient(30% 30% 45deg, circle farthest-side, #DB3279, #A8265D);
background-image: -webkit-gradient(radial, 30% 30%, 0, 30% 30%, 900, from(#DB3279), to(#A8265D));
}

#header-tutorials {
background: #3C6EB4; /* blue */
background-image: -moz-radial-gradient(30% 30% 45deg, circle farthest-side, #3C6EB4, #2B4F82);
background-image: -webkit-gradient(radial, 30% 30%, 0, 30% 30%, 900, from(#3C6EB4), to(#2B4F82));
}
/* end individual header settings */

.page-header h2 {
    color: #ffffff;
    font-family: "ComfortaaRegular", "sans-serif";
    font-weight: normal;
    font-size: 28pt;
    text-shadow: 0px 2px 1px #294172;
    margin-top: .3em;
    margin-left: 10px;
}

.page-header p {
    color: #294172;
    font-size: 12pt;
    margin-left: 10px;
}


.page-header .page-header-sidebar p {
    margin-top: 10px;
    font-size: 10pt;
}

#header-help p,#header-join p,#header-tutorials p { color: white; }

/* content
----------------------------------------------- */

.num {
margin-top: 15px;
}

#web-quotes {
/*    background: #FCF9D6 url('../images/quotes-2users.png') no-repeat right top;
*/
    background: url('../images/bg_yellow-wash.png') repeat-x;
    height: 140px;
    padding: 20px;
}

#web-quotes p {
    max-width: 520px;
}

.main-page-section h2 {
    background-color: #C4D0E3;
    color: #3c6eb4;
    padding: 10px;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1em;
}

h3.main-section-hl { font-size: small; margin-top: 1em;}
h4.main-section-hl { font-size: small; }


/* four-fs on front page */

#four-fs img {
  display: block;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

#four-fs h4 {
  text-transform: uppercase;
  font-size: 1.1em;
  color: #666;
  text-align: center;
}

#four-fs  {
  font-size: .9em;
}

#four-fs p {
  height: 4.5em;
}

/* what can you do with fedora front page section */

#what-can-you-do img {
  float: left;
  margin-right: 1em;
}

#what-can-you-do h3 { color: #666; }
#what-can-you-do h3 { color: #3c6eb4; }

/* features page */

#features-icons {
  margin-top: 1em;
}

#features-icons h5 {
  margin-top: 5px;
  font-size: 10pt;
}

#features-icons p {
  height: 110px;
}

#features-icons div {
  margin-bottom: 2em;
}




/* support/help pages */
.bugs-section {
    padding: 20px;
    background:url("../images/support-bugs.png") no-repeat top right;
    background-color:#E2E2E2;
}

.bugs-section h2 { margin-top: auto; }
.bugs-section a { font-weight: normal; }

.interactive-section {
    background-color: #E2E2E2;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.interactive-section, .bugs-section {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

/* community page */

.community-dates { font-size: small; }
.community-event h5 { text-transform: uppercase; font-size: x-small; }
.community-event p { font-size: x-large; font-weight: bold; }
.community-event-detail p { font-size: x-small; }

/* download splash page */
.download-hl-box { background-color: #ececec; padding: 8px; }
.download-hl-box a { text-decoration: none; }

/* tutorials page */
img.tutorial-left { float:left; margin: 15px; }
img.tutorial-right { float:right; margin: 15px; }


/* Extras/Common pieces
 * - buttons, tooltips, toolbars, notes,
 * - warnings, boxes, input, etc
----------------------------------------------- */

abbr, acronym {
    border-bottom: 1px dotted #000000;
    cursor: help;
}

.download-button-mini {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #FFFFFF!important;
    text-decoration: none;
    font-weight: bold;
    line-height: 2;
    font-size:0.85em;
    padding: 5px;
    background-color: #337ACC !important;
    white-space: nowrap;
}

.download-button-mini:hover { background-color: #295596 !important; }

.big-button {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #FFFFFF!important;
    text-decoration: none;
    font-weight: bold;
    line-height: 3;
    margin: 0;
    padding: 0.4em 0.5em;
    background-color: #337acc !important;
    margin-top: 0.9em;
    font-size: 1.7em;
}

.big-button:hover { background-color: #295596 !important; }

.support-icon {
	border: 0px;
	padding: 3px;
}

.global-notice {
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    padding: 0.5em 1em;
}

/* grey horizontal rule */
.rule {
	background-color: #E7E7E7;
	height: 1px;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}


/* hack to hide js stuff from non-js supported browsers */
.shownojs { display: none; }

p.mini-note {
    padding: 1ex 2ex;
    border: 1px solid #DDDDDD;
    background: #FFABAB;
    font-size: .8em;
    color: #4c4c4c;
    -webkit-border-radius: 1.5ex;
    -moz-border-radius: 1.5ex;
    width: 50%
}

p.note {
    padding: 1ex 2ex;
    border: 1px solid #DDDDDD;
    background: #F2F5F6;
}

p.warning {
    padding: 10px 10px 10px 40px;
    border: 1px solid #DEB7B7;
    color: #000000;
    background: #F3DDDD url('../images/icon-warning.png') no-repeat left center;
}

pre.command {
    font-size: 1.3em;
    border: solid #DDDDDD;
    border-width: 1px 1px 1px 5px;
    background: #F2F5F6;
    padding: 0.5ex 2ex;
}

/* get-prerelease */
ul.downloadbox {
    overflow: hidden;
    list-style: none;
    margin: 0 2ex;
    padding: 6ex 2ex 4ex 180px;
    border-radius: 1.5ex;
    -webkit-border-radius: 1.5ex;
    -moz-border-radius: 1.5ex;
    background: #C0DBDD 30px 50% no-repeat;
    font-size: 0.9em;
    display: inline-block;
}

ul.installdvd { background-image: url(../images/installdvd.png); }
ul.gnomelive { background-image: url(../images/gnomelive.png); }
ul.kdelive { background-image: url(../images/kdelive.png); }

.downloadbox li {
    width: 32ex;
    float: left;
    padding: 0 0 2ex;
}

.downloadbox li li {
    width: auto;
    float: none;
    padding: 0;
}

/* right sidebar */

#right-sidebar {
  margin-top: 1em;
}

#right-sidebar ul {
  margin-top: 1em;
}

#right-sidebar h4 {
 color: #555;
 font-size: 1em;
 text-transform: uppercase;
 margin-top: 1em;
}

#hosting-sponsor img {
  margin-top: 1em;
}

/* big links bar */

#big-links-bar a {
  background-color: #555;
  color: white;
  text-align: center;
  font-size: 1.2em;
  padding-top: .5em;
  margin-top: 1px;
}

#big-links-bar a:hover {
   background-color: #3c6eb4;
}

#big-links-bar h4 {
  font-family: Comfortaa, sans-serif;
  color: white;
  text-align: center;
  font-size: 1.8em;
  font-weight: normal;
  margin-bottom: 0px;
}

/* special lists */
#right-sidebar ul.checkmark-list {
  list-style: disc url("/static/images/icon-checkmark.png") outside;
}

#right-sidebar li.guide-list {
  list-style: disc url("/static/images/icon-guide.png") outside;
}

#right-sidebar li.webpage-list,
#right-sidebar ul.webpage-list li {
  list-style: disc url("/static/images/icon-webpage.png") outside;
}

#right-sidebar li.support-list {
  list-style: disc url("/static/images/icon-support.png") outside;
}

#right-sidebar li.verify-list {
  list-style: disc url("/static/images/icon-signed-verified.png") outside;
}


/* export regulations */
#export-regulations { padding-bottom: 30px; padding-top: 8px; border-top: 1px solid #eee; margin-top: 15px; }
#export-regulations .read-more img, #export-regulations .details img { margin: 0; }
#export-regulations .details { display: inline; }
#export-regulations a { text-decoration: none; }
#export-regulations h4 { font-size: small; }
#export-regulations p { font-style: italic; }
.read-more, .re-collapse { float:right; }
.read-more img { float: none; }
/* end: export regulations */

/* tabs */
/* root element for tabs  */
ul.tabs {
    height: 30px;
}

/* single tab */
ul.tabs li {
    float: left;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* link inside the tab. no background image */
ul.tabs a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    height: 18px;
    background-color: #dcdcdc;
    color: #3771c8;
    font-weight: bold;
}

ul.tabs a:hover {
    background-color: #fff;
    color: #818181;
    font-weight: bold;
}

/* selected tab */
ul.tabs a.current {
    background-color: #fff;
    color: #808080;
    cursor: default;
    font-weight: bold;
}

/* tab pane */
div.panes div { display: none; }

#content a.current:link {
    color: #828282;
}
/* end: tabs */

/* the overlayed element */
.simple_overlay {

    /* must be initially hidden */
    display:none;

    /* place overlay on top of other elements */
    z-index:10000;

    /* styling */
    background-color:#333;

    /* disabled for now - so it fits around images
     * width:675px;
     */
    min-height:200px;
    border:1px solid #666;

    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
}

/* close button positioned on upper right corner */
.simple_overlay .close {
    background-image:url(../images/overlay-close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}

/* styling for elements inside overlay */
.overlay_details {
    position:absolute;
    top:15px;
    right:15px;
    font-size:11px;
    color:#fff;
    width:150px;
}

.overlay_details h3 {
    color:#aba;
    font-size:15px;
    margin:0 0 -10px 0;
}

/* end: the overlayed element */


/* slideshow styles */
.slideShow ul, .slideShow li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.slideShow {
   /* padding: 10px; */
 /*   border: 1px solid #B3B3B3; */
    display: table;
    clear: both;
}

.slideShow .navigation {
    margin-top: -30px;
    margin-bottom: 1em;
    margin-left: 1em;
    clear: left;
    display: block;
    position: absolute;
    z-index: 99 !important;
}

.slideShow .navigation li {	display: inline; }

.slideShow .navigation a {
    margin: 0px 2px 0px 0px;
    padding: 3px 8px;
    display: inline-block;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: bold;
    background-color: white;
    color: #3c6eb4;
    border: 1px solid #3c6eb4;
}

.slideShow .navigation a:hover, .slideShow .navigation a.selected {
    background-color: #3c6eb4;
    font-weight: bold;
    color: white;
    border: 1px solid white;
}

/** slides with text over images **/
.slide div {
    margin: 1em;
    position: absolute;
    color: #fff;
    z-index: 1000;
    padding: 0.2em 0.8em;
}

.slide div a { color: #fff; }
		
.slideShow  div {
  width: 500px;
  height: 250px;
  left: 410px;
  top: 5px;
  background: none;
  font-size: 12pt;
}

.slides div h2 {
  font-family: "ComfortaaRegular", sans-serif;
  color: white;
  font-size: 26pt;
  text-transform: none;
  margin-top: 0px;
  font-weight: normal;
}

.slides div {
  font-family: "CantarellRegular", sans-serif;
}

.slides #fedora-download div h2 {
  letter-spacing: -3px;
  text-shadow: #3c6eb4 1px 1px 5px;
  font-weight: bold;
}

.slides #fedora-download div {
  color: #444;
  font-size: 14pt;
}

.slideShow #printing-easy div {
  margin-left: 10px;
  width: 350px;
  left: 1em;
}

.slides #design div {
  left: 10px;
  width: 400px;
}

.slides #design h2 { font-size: 22pt; }

.slides #fudcon div {
  /* For browsers that don't support RGBa */
  background: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background: rgba(0, 0, 0, 0.5);
  -moz-border-radius: 8px;
  left: 200px;
  height: 200px;
}

.slides #fudcon h2 { font-size: 23pt; }

.slides #fedora-download li a {
  font-family: "ComfortaaRegular", sans-serif;
  text-shadow: white 1px 1px 0px;
  color: #255591;
  padding: .25em .65em;
  -moz-border-radius: 8px;
  border-bottom: 2px solid #255591;
  background: -moz-linear-gradient(bottom,  #a9c8da,  white); 
  float: right;
  margin-right: 1em;
}

.slides #fedora-download li a:hover {
  color: #255591;
  background: -moz-linear-gradient(top,  #a9c8da,  white); 
  text-shadow: white -1px -1px 0px;
}

.slides #fedora-download p.small {
  clear: right;
  color: #444;
  font-size: 10pt;
  text-align: right;
  margin-right: 1em;
  margin-top: 1em;
}
/* end: slideshow styles */
