/* This specific sheet is correcting the 960' rtl generated sheet */
body {
	direction:rtl;
}

#site-content ul{
	padding-right:40px;
}

/* Changed from left to right in order to fix the Fedora Highlights problem */
.container_16 .suffix_1{
	padding-right:0px;
}

/* Fix for most of the header mess */
#site-heading {
   float:left; 
}

/* Fix language selector */
.container_16 .prefix_10 {
	padding-right:55px; 
}

/* Fix for the four F's position */
#site-heading h2 {
   float:left; 
}

.lang-dropdown {
   background-position: right center;
   padding-right:23px;
   padding-left:0px;
}

ul.webpage-list, .checkmark-list {
	padding-right:20px !important;
}

/* Fix slideshow number */
.slideShow .navigation {
	position:relative;
	padding-right: 0px;
	margin-top: -35px;
	-moz-margin-start: -30px;12:
}

/* Fix the right margin added under Firefox */
.slideShow ul {
	-moz-margin-start: -40px;
}

/* Fix the direction of the language selctor */
.lang-dropdown select {
	direction: ltr;
}

/* Fix tabs everywhere (features page and get-fedora-options) */
#header-nav ul li {
	float: right;
}

/* Fix "back to top" buttons position (and avoid horizontal scrollbar caused by the problem) */
.container_16 .prefix_14 {
	padding-right: 0px;
}

/* Fix the icon positions in the features page */
#features-content img {
   float: right;
   margin-left: 15px;
   margin-right: 0px;
}

/* Fix direction of <pre> tags, such as in verify */
pre.command {
	direction: ltr;
}

/* Fix header width for pages under Using Fedora (interviews and tutorials) */
.page-header {
	width: 100% !important;
}

/* Fix images positions in the Highlights section */
#what-can-you-do img {
    float: right;
    margin-left: 1em;
}

/* Fix the download buttons in get-fedora-options */
.container_16 .prefix_3, .container_16 .suffix_3 {
	padding-right: 0px;
	padding-left: 0px;
}

/* Fix the direction of the export regulations (which aren't translatable for a legal reason) */
#export-regulations .details, #export-regulations>p {
	direction: ltr;
}

/* Fix the footer list sperators */
#footer li.first {
    border-right: medium none;
	border-left: 1px solid #AAAAAA;
}
#footer li.last {
    border-left: medium none;
	border-right: 1px solid #AAAAAA;
}
