/* show content in tabs */
div.panes div {
  display: block;
}

ul.hidenojs {
  border-bottom:1px solid #DCDCDC;
  display:none;
  height:30px;
  margin:0 !important;
  padding:0;
  width:70%;
}

.read-more { display: none; }
.learn-more { display: block; }
