<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  <div id="head">
    <h1><a href="${relpath}/">${_('Fedora')}</a></h1>
    <ul id="primary-nav">
		<li id="spins-support"><a href="${relpath}/support">${_('Support')}</a></li>
		<li id="spins-about"><a href="${relpath}/about">${_('About Spins')}</a></li>
		<li id="spins-directory"><a href="${relpath}/">${_('Spins Directory')}</a></li>
    </ul>
  </div>
  <div id="spins-tagline">
    <img src="${relpath}/static/images/spin/${area}-tagline.png" title="${area}"/>
  </div>

</html>
