<?python
import simplejson
import urllib
import re
from operator import itemgetter
import random
from types import NoneType


class Torrents(object):

    non_release_re = re.compile('(alpha)|(beta)|(snap)|(preview)|(x86_64)', re.I)
    spins_matches = ['broffice', 'edu', 'math', 'kde', 'xfce', 'lxde', 'aos', 'developer', 'fel', 'games']

    def __init__(self):
        self._torrents = None

    @property
    def torrents(self):
        if not self._torrents:
            fo = urllib.urlopen('http://torrent.fedoraproject.org/stats/current-stats.json')
            self._torrents = simplejson.load(fo)
            fo.close()
        return self._torrents

    def specific_spin(self, name, release, pattern=''):
        if not isinstance(release, basestring):
            release = '%s' % release
        spins_release = []
        spins_non_release = []
        spins_all = []
       
        #print "name:", name
        #print "release:", release
        #print "pattern:", pattern
        #for row in self.torrents:
        for row in self.torrents:
            torrent_name = row['name'].lower()
            #print "row: ", row['name']
            if (name in torrent_name) and (pattern in torrent_name) and (release in torrent_name):
                #print "appended..."
                spins_release.append(row)
            elif name in torrent_name and not release in torrent_name:
                spins_non_release.append(row)
        
        #do some list combination
        #print spins_release
        #print spins_non_release
        spins_all = [spins_release, spins_non_release]

        return spins_all

    # needed functions
    def matches_a_spin(self, name):
        if self.non_release_re.search(name):
            return False    
        for part in self.spins_matches:
            if part in name.lower():
                return True
        return False


    def gettorrentinfo(self, name, release, value):
        for row in self.torrents:
            if name in row['name'].lower() and release in row['name']:
                return row[value]


    def gettorrentsize(self, name, release):
        for spin in self.torrents:
            if spin['name'].lower().endswith(name) and release in spin['name']:
                return spin['size']


    def getrandomtorrent(self, list):
        return random.randint(0, len(list)-1)



torrents = Torrents()
release = '11'
arch = 'i686'

def formatsize(n, format='%0.2f'):
	# this is awful.
    if isinstance(n, NoneType):
         n = 1
    #print "type: ", type(n)
    return format % (n / 1024.0**2)

# this gets all the spins torrents
spins = []
for t_dict in torrents.torrents:
    if torrents.matches_a_spin(t_dict['name']):
        if release in t_dict['name']:
            spins.append(t_dict)


#sort by most downloaded
most_downloaded = sorted(spins,key=itemgetter('completed'), reverse=True)
# sort by alphabetical
alphabetical = sorted(spins, key=itemgetter('name'))


#data used on sidebar, for featured-spin section
sdata_feature = {
	'broffice': "Brazilian localized spin that provides the legal brand for OpenOffice.org in Brazil.",
	'edu': "A special selection of applications related to educational and scientific purposes.",
	'math': "This is math",
	'kde': "A complete, modern desktop built using the K Desktop Environment (KDE).",
	'xfce': "A complete, well-integrated Xfce desktop.",
	'lxde': "This is lxde",
	'aos': "A scaled-down version of Fedora with a small footprint for running an appliance.",
	'developer': "This is developer",
	'fel': "Fedora's high-end hardware design and simulation platform.",
	'games': "A perfect show-case of the best games available in Fedora.",
	'art': "The ultimate free & open source art studio - tailored for graphic designers.",
	'desktop': "The Desktop spin of Fedora is the primary spin as provided on fedoraproject.org.",
	'security': "Security analysis tools."
}


?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  <head py:match="head" py:attrs="select('@*')">
    <xi:include href="css.html" />
    <xi:include href="js.html" />
    <meta py:replace="select('*|text()')" />
  </head>
  <py:match path="body" once="true">
  <body py:attrs="select('@*')">
    <div id="wrapper">
      <xi:include href="head.html" />
      <xi:include href="sidebar.html" />
      <div id="content">
        ${select('*')}
      </div>
    </div>
    <xi:include href="foot.html" />
  </body>
  </py:match>
</html>
