<?python
import simplejson
import urllib
from operator import itemgetter
import re
import random
release = '11'

# do not get list
non_release_re = re.compile('(alpha)|(beta)|(snap)|(preview)|(x86_64)', re.I)

# needed functions
def matches_a_spin(name):
    spins_matches = ['broffice', 'edu', 'math', 'kde', 'xfce', 'lxde', 'aos',
                     'developer', 'fel', 'games']
    if non_release_re.search(name):
        return False    
    for part in spins_matches:
        if part in name.lower():
            return True
    return False

def gettorrentinfo(name, value):
    for part in alphabetical:
        if name in part['name'].lower():
            return part[value]


def gettorrentsize(area):
    for spin in spins:
        if spin['name'].lower().endswith(area):
            return formatsize(spin['size'])

def formatsize(n, format='%0.2f'):
    return format % (n / 1024.0**2)

def getrandomtorrent(list):
	return random.randint(0, len(list)-1)

# let's get our data
fo = urllib.urlopen('http://torrent.fedoraproject.org/stats/current-stats.json')
torrents = simplejson.load(fo)
fo.close()

# this gets all the spins torrents
spins = []
for t_dict in torrents:
    if matches_a_spin(t_dict['name']):
        if release in t_dict['name']:
            spins.append(t_dict)


#sort by most downloaded
most_downloaded = sorted(spins,key=itemgetter('completed'), reverse=True)
# sort by alphabetical
alphabetical = sorted(spins, key=itemgetter('name'))


#data used on sidebar, for featured-spin section
sdata_feature = {
	'broffice': "Brazilian localized spin that provides the legal brand for OpenOffice.org in Brazil.",
	'edu': "A special selection of applications related to educational and scientific purposes.",
	'math': "This is math",
	'kde': "A complete, modern desktop built using the K Desktop Environment (KDE).",
	'xfce': "A complete, well-integrated Xfce desktop.",
	'lxde': "This is lxde",
	'aos': "A scaled-down version of Fedora with a small footprint for running an appliance.",
	'developer': "This is developer",
	'fel': "Fedora's high-end hardware design and simulation platform.",
	'games': "A perfect show-case of the best games available in Fedora.",
	'art': "The ultimate free & open source art studio - tailored for graphic designers.",
	'desktop': "The Desktop spin of Fedora is the primary spin as provided on fedoraproject.org.",
	'security': "Security analysis tools."
}


?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  <head py:match="head" py:attrs="select('@*')">
    <xi:include href="css.html" />
    <xi:include href="js.html" />
    <meta py:replace="select('*|text()')" />
  </head>
  <py:match path="body" once="true">
  <body py:attrs="select('@*')">
    <div id="wrapper">
      <xi:include href="head.html" />
      <xi:include href="sidebar.html" />
      <div id="content">
        ${select('*')}
      </div>
    </div>
    <xi:include href="foot.html" />
  </body>
  </py:match>
</html>
