<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

	<div id="sidebar">
	<py:choose test="area">
		<py:when test="'main'">
		<div id="download-fedora">
			<h2>${_('Looking to Download Fedora?')}</h2>
			<p>${_("Spins are alternate versions of Fedora for specific uses. If you'd just like to download Fedora itself, you should visit the main fedoraproject.org website.")}</p>
			<h3><a href="http://get.fedoraproject.org">${_('Visit get.fedoraproject.org &gt;')}</a></h3>
		</div>
		<div id="top-spins">
			<h2>${_('Top Spins This Release')}</h2>
			<table>
				<?python
				max_list_downloaded = len(most_downloaded)
				if max_list_downloaded > 5:
					max_list_download = 5
				?>
				<tr py:for="t in range(0, max_list_downloaded)">
					<?python
					name = most_downloaded[t][0]
					num = most_downloaded[t][1]['downloads']
					?>
					<td>#${t+1}</td>
					<td><a href="${relpath}/${name.lower()}/">${name}</a></td>
					<td>${num} downloads</td>
				</tr>
			</table>
		</div>
		<div id="featured-spin">
			<?python
				spinnames = spins.keys()
				fspinname = spinnames[torrents.getrandomtorrent(spinnames)]
			?>
			<a href="${relpath}/${fspinname.lower()}/"><img src="/static/images/spin/${fspinname.lower()}-feature.png" /></a>
			<p>${_(spin_detail[fspinname.lower()])}</p>
			<h3><a href="${relpath}/${fspinname.lower()}/">${_('Learn more &gt;')}</a></h3>
		</div>
		<div id="make-own-spin">
			<h2>${_('Want to Make Your Own Spin?')}</h2>
			<p>${_('Anyone can create their very own Fedora spin.')}</p>
			<h3><a href="${relpath}/support">${_('Go to the spin creation tutorial &gt;')}</a></h3>
		</div>
		</py:when>
		<py:otherwise>
		<div id="download-now" py:for="i in torrents.specific_spin(area, release, 'x86_64')">
			<a class="big-button" href="http://torrent.fedoraproject.org/spins/${i['name']}.torrent"><img src="/static/images/down-arrow.png" />${_('Download Now!')}</a>
<!--			<p>54K Torrent File for 64-bit PC ISO (${formatsize(torrents.gettorrentinfo(area, release, 'size'))} MB)</p>
-->
			<p>54K Torrent File for 64-bit PC ISO</p>
			<h3><a href="${global_variables.path['doc']}/${global_variables.release['curr_id']}/html/Installation_Guide/ch-new-users.html#sn-which-download-bt">${_('How do I use this?')}</a> | <a py:if="area=='kde'" href="http://fedoraproject.org/get-fedora-all#kde">${_('More download options ...')}</a><a py:if="area!='kde'" href="#downloads">${_('More download options ...')}</a> </h3>
		</div>
		<div id="whatis-spin">
			<h2>${_('What is a Spin?')}</h2>
			<p>${_('Fedora Spins are alternate version of Fedora, tailored for various types of users via hand-picked application sets and other customizations.')}</p>
			<h3><a href="${relpath}/about">${_('Learn more &gt;')}</a></h3>
		</div>
		<div id="whatis-this-spin">
			<h2>${_('What is this Spin?')}</h2>
			<p>${_(spin_detail[area.lower()])}</p>
			<h3><a href="${relpath}/${area}">${_('Learn more &gt;')}</a></h3>
		</div>
		</py:otherwise>
	</py:choose>
		<div id="lang-select">
			<h2>${_('Website Language')}</h2>
			<form action="" method="GET">
				<select name="lang">
					<xi:include href="translations.html" />
				</select>
				<input type="submit" value="OK" />
			</form>
		</div>
	</div>
</html>
