<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  <div class="container hidden-xs">
        <div class="row sitelinks">
        <div class="col-xs-2">
            <dl>
                <dt>Fedora</dt>
                <dd><a href="${path}/${lang}/about-fedora">${_('About Fedora')}</a></dd>
                <dd><a href="http://planet.fedoraproject.org/">${_('Planet Fedora')}</a></dd>
                <dd><a href="http://fedoramagazine.org">${_('Fedora Magazine')}</a></dd>
                <dd><a href="http://docs.fedoraproject.org/">${_('Documentation')}</a></dd>
                <dd><a href="https://fedoraproject.org/wiki/Fedora_Project_Wiki">${_('Fedora Wiki')}</a></dd>
                <dd><a href="http://fedoraproject.org/wiki/FedoraEvents">${_('Events')}</a></dd>
            </dl>
        </div>
        <div class="col-xs-2">
            <dl>
                <dt>${_('Download')}</dt>
                <dd><a href="http://fedoraproject.org/${lang}/get-fedora">${_('Get Fedora')}</a></dd>
                <dd><a href="http://fedoraproject.org/${lang}/get-fedora-all">${_('Full Download List')}</a></dd>
            </dl>
        </div>
        <div class="col-xs-2">
            <dl>
                <dt>${_('Support')}</dt>
                <dd><a href="http://fedoraproject.org/${lang}/get-help">${_('Get Help')}</a></dd>
                <dd><a href="irc://irc.freenode.org/#fedora">${_('IRC Help')}</a></dd>
                <dd><a href="https://admin.fedoraproject.org/mailman/listinfo/users">${_('Mailing List Help')}</a></dd>
                <dd><a href="http://ask.fedoraproject.org/">${_('Ask Fedora')}</a></dd>
                <dd><a href="http://www.fedoraforum.org/">${_('Forums')}</a></dd>
                <dd><a href="http://docs.fedoraproject.org/">${_('Documentation')}</a></dd>
            </dl>
        </div>
        <div class="col-xs-2">
                <dl>
                    <dt>${_('Join')}</dt>
                    <dd><a href="http://fedoraproject.org/${lang}/join-fedora">${_('Join Fedora')}</a></dd>
                    <dd><a href="http://fedoraproject.org/wiki/SIGs">${_('Fedora SIGs')}</a></dd>
                    <dd><a href="https://admin.fedoraproject.org/accounts/">${_('Fedora Account System')}</a></dd>
                    <dd><a href="http://www.fedoracommunity.org/">${_('Fedora Community')}</a></dd>
                </dl>
        </div>
        <div class="col-xs-2">
            <dl>
                <dt>${_('Subprojects')}</dt>
                <dd><a href="http://fedoraproject.org/wiki/DocsProject">${_('Documentation')}</a></dd>
                <dd><a href="http://fedoraproject.org/wiki/L10N">${_('Translation')}</a></dd>
                <dd><a href="http://fedoraproject.org/wiki/Marketing">${_('Marketing')}</a></dd>
                <dd><a href="http://fedoraproject.org/wiki/Ambassadors">${_('Ambassadors')}</a></dd>
                <dd><a href="http://fedoraproject.org/wiki/Design">${_('Design')}</a></dd>
                <dd><a href="http://fedoraproject.org/wiki/Infrastructure">${_('Infrastructure')}</a></dd>
            </dl>
        </div>
        <div class="col-xs-2">
            <dl>
                <dt>&nbsp;</dt>
                <dd><a href="http://fedoraproject.org/wiki/Websites">${_('Websites')}</a></dd>
                <dd><a href="http://fedoraproject.org/wiki/I18N">${_('Internationalization')}</a></dd>
                <dd><a href="http://fedoraproject.org/wiki/NewsProject">${_('News')}</a></dd>
            </dl>
        </div>
        </div>
        <div class="clear"></div>
        <div class="row">
        <div class="col-xs-2">
            <a href="http://www.redhat.com/"><img class="img-responsive" src="${path}/static/images/redhat-logo.png" alt="Red Hat Logo" /></a>
        </div>
        <div class="col-xs-8">
            ${_('Fedora is sponsored by Red Hat.')}<br />
            <a href="http://www.redhat.com/resourcelibrary/articles/relationship-between-fedora-and-rhel">${_('Learn more about the relationship between Red Hat and Fedora &gt;')}</a><br />
            ${_('&copy; %(year)s Red Hat, Inc. and others.') % {'year':'2014'}}<br />
            <dt>&nbsp;</dt>
        </div>
        </div>

            ${_('The Fedora Project is maintained and driven by the community. This is a community maintained site. Red Hat is not responsible for content.')}<br />
            <ul class="legal_footer">
                <li class="legal_footer first"><a href="${path}/${lang}/contact">${_('Contact')}</a></li>
                <li class="legal_footer"><a href="/sponsors">${_('Sponsors')}</a></li>
                <li class="legal_footer"><a href="http://fedoraproject.org/wiki/Legal:Main">${_('Legal')}</a></li>
                <li class="legal_footer"><a href="http://fedoraproject.org/wiki/Legal:Trademark_guidelines">${_('Trademark Guidelines')}</a></li>
                <li class="legal_footer"><a href="http://fedoraproject.org/wiki/Legal:Licenses?rd=Legal/Licenses#This_Website">${_('Content License')}</a></li>
            </ul>
        </div>
</html>
