<!DOCTYPE html>
<html lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse headroom" >
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <a href="index.html">
            <img src="${path}/static/images/workstation-logo.png" alt="Fedora Logo" />
          </a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
          <a href="index.html">
            <img src="${path}/static/images/fedora-logotext.png" alt="Fedora Logo" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.navbar -->

</html>
