<!DOCTYPE html>
<html lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse headroom" >
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a href="index.html">
            <img src="${path}/static/images/workstation-logo.png" alt="Fedora Logo" />
          </a>
        </div>
        <div class="col-md-6 text-right">
          <a href="index.html">
            <img src="${path}/static/images/fedora-logotext.png" alt="Fedora Logo" />
          </a>
        </div>
      </div>

      <div class="navbar-header">
        <!-- Button for smallest screens -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
       
      </div>
      <!--<div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="sidebar-left.html">Workstation</a></li>
              <li><a href="sidebar-right.html">Cloud</a></li>
              <li><a href="sidebar-right.html">Server</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Community<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Design</a></li>
                          <li><a href="#">Marketing</a></li>
                          <li><a href="#">Ambassadors</a></li>
            </ul>
          </li>
        </ul>
      </div>--> <!--/.nav-collapse -->
    </div>
  </div>
  <!-- /.navbar -->

</html>
