<div id="sidebar">
  <?python
  from datetime import date

  today = date.today();
  release = date(2007, 11, 8)

  difference = release - today
  days = difference.days
  if days < 0: days = 0
  image = str(days) + '.png'
  ?>
  <div id="banner">
    <img src="${path}/images/counter/${image}" alt="${_('Fedora 8 Werewolf unleased in %s days.') % days}" />
  </div>
  <div class="nav">
    <h2>${_('Navigation')}</h2>
    <ul>
      <li id="nav-home"><a href="${path}/${lang}/index.html">${_('Home')}</a></li>
      <li id="nav-get"><a href="${path}/${lang}/get-fedora.html">${_('Get Fedora')}</a></li>
      <li id="nav-join"><a href="${path}/${lang}/join-fedora.html">${_('Join Fedora')}</a></li>
    </ul>
    <h2>${_('Tools')}</h2>
    <ul>
      <li><a href="http://docs.fedoraproject.org/">${_('Docs')}</a> ${_('Fedora documentation.')}</li>
      <li><a href="http://fedoraproject.org/wiki/">${_('Wiki')}</a> ${_('Collaborative knowledge.')}</li>
      <li><a href="http://planet.fedoraproject.org/">${_('Planet')}</a> ${_('The voices of the Fedora community.')}</li>
      <li><a href="http://fedoraproject.org/wiki/Communicate">${_('Communicate')}</a> ${_('Speak with Fedora.')}</li>
    </ul>
  </div>
</div>
