<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  <div id="sidebar">
  <?python
  from datetime import datetime

  today = datetime.utcnow()
  release = datetime(2009, 11, 17, 15)

  difference = release - today
  days = difference.days
  if difference.seconds > 0 or difference.minutes > 0 or difference.hours > 0: days += 1
  if days < 0: days = 0
  days = str(days)

  image_lang = 'en'
  available_languages = ('de', 'en', 'hu', 'is', 'it', 'pt_BR', 'ru', 'tr')
  if lang in available_languages:
      image_lang = lang
  image = image_lang + '/fedora12-countdown-banner-' + days + '.' + image_lang + '.png'
  ?>
<div id="banner">
    <a href="http://fedoraproject.org/wiki/Releases/11/Schedule"><img src="${Markup(_('%s/static/images/counter/%s') % (path, image))}" alt="${Markup(_('Fedora 12 Constantine released in %s days!') % days)}" /></a>
    <a style="text-decoration: none; font-size: 1.6ex; color: #99AABB;" href="${path}/${lang}/counter">${Markup(_('Add a counter to your own site!'))}</a>
</div>

    <div id="nav">
      <h2>${Markup(_('Navigation'))}</h2>
      <ul>
        <li id="nav-home"><a href="${path}/${lang}/index">${Markup(_('Home'))}</a></li>
        <li id="nav-get"><a href="${path}/${lang}/get-fedora">${Markup(_('Get Fedora'))}</a></li>
        <li id="nav-join"><a href="${path}/${lang}/join-fedora">${Markup(_('Join Fedora'))}</a></li>
	    <li id="nav-help"><a href="${path}/${lang}/get-help">${Markup(_('Get Help'))}</a></li>
      </ul>
      <h2>${Markup(_('Tools'))}</h2>
      <ul>
        <li><a href="http://docs.fedoraproject.org/">${Markup(_('Docs'))}</a> ${Markup(_('Fedora documentation.'))}</li>
        <li>${Markup(_('&lt;a href="http://fedoraproject.org/wiki/"&gt;Wiki&lt;/a&gt;'))} ${Markup(_('Collaborative knowledge.'))}</li>
        <li><a href="http://planet.fedoraproject.org/">${Markup(_('Planet'))}</a> ${Markup(_('The voices of the Fedora community.'))}</li>
        <li>${Markup(_('&lt;a href="http://fedoraproject.org/wiki/Communicate"&gt;Communicate&lt;/a&gt;'))} ${Markup(_('Speak with Fedora.'))}</li>
        <li>${Markup(_('&lt;a href="http://fedoraproject.org/wiki/FedoraEvents"&gt;Events&lt;/a&gt;'))} ${Markup(_('Meet the Fedora community.'))}</li>
      </ul>
      <h2>${Markup(_('Website Language'))}</h2>
      <form action="" method="GET">
        <div>
          <select name="lang">
            <xi:include href="translations.html" />
          </select>
          <input type="submit" value="OK" />
        </div>
      </form>
    </div>
  </div>
</html>
