/* clear all background */
#head, #sidebar, #content, #wrapper
{
	background-color: transparent;
	background-image: none;
}

#head
{
	border: 0;
}

/* end: clear all background */

/* header */

#wrapper
{
	padding: 0;
}

#head
{
	background-color: #3771c8;
	margin: 20px 20px 0px 20px;
	clear: both;
}

#head h1 a
{
	background: transparent url(../images/fedora-spins-logo.png) no-repeat scroll 20px 50%;
}

#head h1
{
}

#tabs
{
	position: absolute;
	top: 30px;
	right: 25px;
	width: 25%;
}

#tabs ul
{
	list-style-type: none;
	margin:0;
}

#tabs li
{
	display: inline;
	padding-left: 10px;
	float: right;
}
/* end: header */



/* footer */
body
{
	background: #e6e6e6 none no-repeat 0 0;
}

#wrapper
{
	min-height: 0px;
	margin: auto;
	background: #fff url(../images/background.png) repeat-x scroll 0 0;

}

#bottom 
{
	background-color: #e6e6e6;
	padding: 20px 0px 0px 0px;
	margin: 0;
}

#footer
{
	background-color: #e6e6e6;
	background-image: none;
	clear: both;
	border: 0;
	color: #4d4d4d;
}

#footer a
{
	color: #3771c8;
}

#sitelinks
{
	margin: 0 auto;
	width: 975px; /* this centers the list */
	padding-left: 20px;
	line-height: 1.6;
	color: #808080;
}

#sitelinks a
{
	color: #808080;
	text-decoration: none;
}

#sitelinks dl 
{
	float: left;
	margin: 0px 10px 15px;
	width: 140px;
}

#sitelinks dt
{
	font-weight: bold;
}

/* end: footer */
