@import url("//fedoraproject.org/static/css/fpo960-rtl.css");
#head h1 a
{
    position:absolute;
    left:2px;
    background: transparent url("//spins.fedoraproject.org/static/images/fedora-spins-logo.png") no-repeat scroll 10px 30%;
}

#spins-about a, #spins-directory a, #spins-support a
{   
    padding-left: 0px;
    padding-right: 22px;
}     

#spins-about a
{
    background: transparent url("//spins.fedoraproject.org/static/images/spins-about-icon.png") no-repeat scroll right center;
}   
    
#spins-directory a
{
    background: transparent url("//spins.fedoraproject.org/static/images/spins-directory-icon.png") no-repeat scroll right center;
}   
    
#spins-support a
{   
    background: transparent url("//spins.fedoraproject.org/static/images/spins-support-icon.png") no-repeat scroll right center;
}
.details {
	right: inherit !important;
	left: -10px !important;
}
#sitelinks dl {
	float: right;
}
#footer {
	text-align: right;
}
#footer li {
	border-left: none;
	border-right: 1px solid #AAAAAA;
}
#footer li.first {
	border-right: none;
}
