/*
 * Copyright © 2007  Ricky Zhou
 * Copyright © 2007  Red Hat, Inc.
 *
 * This copyrighted material is made available to anyone wishing to use, modify,
 * copy, or redistribute it subject to the terms and conditions of the GNU
 * General Public License v.2.  This program is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY expressed or implied, including the
 * implied warranties of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.  You should have
 * received a copy of the GNU General Public License along with this program;
 * if not, write to the Free Software Foundation, Inc., 51 Franklin Street,
 * Fifth Floor, Boston, MA 02110-1301, USA. Any Red Hat trademarks that are
 * incorporated in the source code or documentation are not subject to the GNU
 * General Public License and may only be used or replicated with the express
 * permission of Red Hat, Inc.
 *
 * Author(s): Ricky Zhou <ricky@fedoraproject.org>
 *            Toshio Kuratomi <tkuratom@redhat.com>
 */
 
p {
    margin-bottom: 1px;
}
#site-content {
    padding-bottom: 0px;

}
body {
    background-color: white;
    padding-bottom: 0px;
    font-family: 'CantarellRegular', Cantarell,"Droid Sans",Verdana,sans-serif;
}

h2.start {
	margin-left: 0px;
}

#announcement {
    width: 235px;
}

#planet {
    width: 395px;
}

#links {
    width: 180px;
}

.container_12 .grid_6 {
    width: auto;
    padding: 15px;
    margin: 15px;
}

.container_12, .container_16 {
    width: 1000px !important;
}

.container_12 #planet {
    border-right: 2px solid  #8c8c8c;
    border-left: 2px solid  #8c8c8c;
}

.footer-copyright {
    text-align: center;
}

h4 {
    padding-left: 23px;
    background-repeat: no-repeat;
    background-position: center left;
    margin-bottom: 15px;
}

#links h4 {
    background-image: url('../images/links.png');
}

#planet h4 {
    background-image: url('../images/planet.png');
}

#announcement h4 {
    background-image: url('../images/announcements.png');
}
#site-heading {
    float: none !important;
}
#site-heading-rh {
    float: right;
}

#site-heading-rh a {
    margin-top: 0px;
}

.lang-dropdown {
    display: block;
}

#four-f {
    color: rgb(60, 110, 180);
    font-family: "ComfortaaRegular","sans-serif";
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    direction: ltr;
}

#startfpofooter {
  font: normal 0.8em/1.5 sans-serif;
  text-align: center;
}


#bottom
{
  margin-left: 18px;
  padding-right: 18px;
}

#startfpofooter ul
{
  list-style: none;
  margin-bottom: .8em;
}

#startfpofooter li
{
  display: inline;
  border-left: 1px solid #AAAAAA;
  padding: 0 0.75ex;
  margin-left: -1px;
}

#startfpofooter li.first
{
  border-left: none;
}

#startfpofooter a
{
  color: #3771C8;
}

#startfpofooter a:hover
{
  color: #112233;
}
#subscribe {
    margin-top: 50px;
}
#subscribe ul {
    list-style: none;
}

#subscribe li {
    padding-left: 19px;
    background-repeat: no-repeat;
    background-position: center left;
}

#subscribe li.ml {
    background-image: url('../images/mailinglist.png');
}

#subscribe li.rss {
    background-image: url('../images/rss.png');
}

.feed, .planet_feed {
  line-height:1.3em;
  margin-bottom:.4em;
  font-size:1.2em;
  margin-left: 10px;
}

#planet ul {
  list-style: none;
}

span.post_author, span.post_date {
  font-size:.9em;
  color: gray;

}

