body {
    text-align: right;
}
ul.feed {
	direction: ltr; /* Planet posts and announcements are English, so should be LTR*/
	text-align: left;
}

h4 {
    padding-right: 21px;
    padding-left: 0px;
    background-position: center right;
}
#subscribe li {
    padding-right: 17px;
    padding-left: 0px;
    background-repeat: no-repeat;
    background-position: center right;
}
