/* Move down content because we have a fixed navbar that is 100px tall */
body {
  padding-top: 100px;
  padding-bottom: 20px;
}

.navbar-collapse {
	margin-top: 25px;
}

.logo_top {
  float:left;
  height:100%;
  width:auto;
  padding: 9px 0;
}

.fill {
  background-image:url(http://fudcon.fedoraproject.org/static/images/splash_bg.png);
  background-position:initial initial;
  background-repeat:initial initial;
  border-bottom-color:#999999;
  border-bottom-style:solid;
  border-bottom-width:thin;
  float:left;
  margin-top:0;
  width:100%;
  height: 282px;
  color:#729FCF;
  font-style:normal;
  font-variant:normal;
  line-height:1.6;
}

/* slider start */

#slider {
  width: 620px; /* important to be same as image width */
  height: 250px; /* important to be same as image height */
  position: relative; /* important */
	overflow: hidden; /* important */
}
#sliderContent {
  width: 620px; /* important to be same as image width or wider */
  position: absolute;
	top: 20px;
	margin-left: 0;
}
.sliderImage {
  float: left;
  position: relative;
	display: none;
}
.sliderImage span {
  position: absolute;
  padding: 10px 13px;
  width: 384px;
  color: #fff;
  display: none;
}
.clear {
	clear: both;
}
.sliderImage span strong {
  font-size: 14px;
}
.top {
	top: 0;
	left: 0;
}
.bottom {
	bottom: 0;
  left: 0;
}
ul { list-style-type: none;}

/* end slider */

#imgbox {
  height: 250px;
  line-height: 250px;
}

/* footer */

#bottom {
  background: url("../images/footer-trim.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
  margin: 0;
  padding: 40px 0 0;
  width: 100%;
  background-color: #e6e6e6;
  font-size: smaller;
  color: #808080;
}

.sitelinks a {
  color: #808080;
}

ul.legal_footer {
    list-style: none outside none;
    margin-bottom: 0.8em;
    padding: 0;
}

li.first.legal_footer {
    border-left: medium none;
    padding-left: 1px;
}
li.legal_footer {
    border-left: 1px solid #AAAAAA;
    display: inline;
    margin-left: -1px;
    padding: 0 0.75ex;
}

/* end footer */
