<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
<div id="header">
    <div class="container_16">
        <div id="site-heading-rh">
            <a href="https://www.redhat.com/">${_('A Red Hat-Sponsored Community Project')}&nbsp;&nbsp;<img id="rh-community" src="static/images/sponsors/redhat-community.png" alt="" /></a>
        </div>
        <!--<form action="" method="GET" class="lang-dropdown">
			<select name="lang">
			<xi:include href="translations.html" />
			</select>
			<input type="submit" value="${_('OK')}" />
		</form>!-->
        <div id="site-heading">
            <a href="https://fedoraproject.org/"><h1><span id="logo">Fedora Project</span></h1></a>
        </div>
        <br />
        <h2 id="four-f">Freedom. Friends. Features. First.</h2>
        <div class="clear"></div>
    </div>
</div>


</html>
