<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
	<div id="sidebar">
		<div id="banner">
			<a href="http://fedoraproject.org/get-fedora"><img style="border: none;" src="http://fedoraproject.org/static/images/banners/f13release.png" alt="Fedora 13 Goddard is here!" /></a>
		</div>
		<div id="lang-select">
			<h3>${_('Website Language')}</h3>
			<form action="" method="GET">
				<select name="lang">
				<xi:include href="translations.html" />
				</select>
				<input type="submit" value="${_('OK')}" />
			</form>
		</div>
	</div>

</html>
