<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
	<div id="sidebar">
		<div id="banner">
			<a href="http://fedoraproject.org/get-fedora"><img style="border: none;" src="http://fedoraproject.org/static/images/banners/f14release.png" alt="Fedora 14 Laughlin is here!" /></a>
		</div>
    <?python
        # Fedora Project News
        fpn = feedparse('http://fedorparojectnews.wordpress.com/feed/')
        #fpn = feedparse('http://identi.ca/api/statuses/friends_timeline/fedoraprojectnews.atom')
        # Fedora Distro News
        fdn = feedparse('http://mmcgrath.fedorapeople.org/fdn.rss')
        #fdn = feedparse('http://identi.ca/api/statuses/friends_timeline/fedoradistronews.atom')
    ?>
    <div id="news">
        <h3>${fdn.feed.title}</h3>
        <div py:for="entry in fdn[:3]" py:if="'title' in entry" >
            <h4><a href="${entry['link']}">${entry['title']}</a></h4>
            <p>
                ${Markup(entry['description'])}
            </p>
        </div>
    </div>
    <div id="news">
        <h3>${fpn.feed.title}</h3>
        <div py:for="entry in fpn[:3]" py:if="'title' in entry" >
            <h4><a href="${entry['link']}">${entry['title']}</a></h4>
            <p>
                ${Markup(entry['description'])}
            </p>
        </div>
    </div>
		<div id="lang-select">
			<h3>${_('Website Language')}</h3>
			<form action="" method="GET">
				<select name="lang">
				<xi:include href="translations.html" />
				</select>
				<input type="submit" value="${_('OK')}" />
			</form>
		</div>
	</div>
</html>
