
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
    <option value="cs" py:attrs="{'selected': lang == 'cs' and 'selected' or None}">cs</option>
    <option value="da" py:attrs="{'selected': lang == 'da' and 'selected' or None}">da</option>
    <option value="de" py:attrs="{'selected': lang == 'de' and 'selected' or None}">de</option>
    <option value="el" py:attrs="{'selected': lang == 'el' and 'selected' or None}">el</option>
    <option value="en" py:attrs="{'selected': lang == 'en' and 'selected' or None}">en</option>
    <option value="es" py:attrs="{'selected': lang == 'es' and 'selected' or None}">es</option>
    <option value="fa" py:attrs="{'selected': lang == 'fa' and 'selected' or None}">fa</option>
    <option value="fi" py:attrs="{'selected': lang == 'fi' and 'selected' or None}">fi</option>
    <option value="fr" py:attrs="{'selected': lang == 'fr' and 'selected' or None}">fr</option>
    <option value="he" py:attrs="{'selected': lang == 'he' and 'selected' or None}">he</option>
    <option value="hu" py:attrs="{'selected': lang == 'hu' and 'selected' or None}">hu</option>
    <option value="pl" py:attrs="{'selected': lang == 'pl' and 'selected' or None}">pl</option>
    <option value="pt_BR" py:attrs="{'selected': lang == 'pt_BR' and 'selected' or None}">pt_BR</option>
    <option value="ru" py:attrs="{'selected': lang == 'ru' and 'selected' or None}">ru</option>
    <option value="uk" py:attrs="{'selected': lang == 'uk' and 'selected' or None}">uk</option>
    <option value="zh_CN" py:attrs="{'selected': lang == 'zh_CN' and 'selected' or None}">zh_CN</option>
</html>

