
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
    <option value="af" py:attrs="{'selected': lang == 'af' and 'selected' or None}">Afrikaans</option>
    <option value="ar" py:attrs="{'selected': lang == 'ar' and 'selected' or None}">عربي</option>
    <option value="as" py:attrs="{'selected': lang == 'as' and 'selected' or None}">অসমীয়া</option>
    <option value="ast" py:attrs="{'selected': lang == 'ast' and 'selected' or None}">Asturianu</option>
    <option value="bal" py:attrs="{'selected': lang == 'bal' and 'selected' or None}">بلوچی</option>
    <option value="bg" py:attrs="{'selected': lang == 'bg' and 'selected' or None}">български език</option>
    <option value="bn_IN" py:attrs="{'selected': lang == 'bn_IN' and 'selected' or None}">বাংলা (ভারত)</option>
    <option value="ca" py:attrs="{'selected': lang == 'ca' and 'selected' or None}">Català</option>
    <option value="cs" py:attrs="{'selected': lang == 'cs' and 'selected' or None}">česky</option>
    <option value="da" py:attrs="{'selected': lang == 'da' and 'selected' or None}">dansk</option>
    <option value="de" py:attrs="{'selected': lang == 'de' and 'selected' or None}">Deutsch</option>
    <option value="de_CH" py:attrs="{'selected': lang == 'de_CH' and 'selected' or None}">Schwyzerdütsch</option>
    <option value="el" py:attrs="{'selected': lang == 'el' and 'selected' or None}">Ελληνικά</option>
    <option value="en" py:attrs="{'selected': lang == 'en' and 'selected' or None}">English</option>
    <option value="es" py:attrs="{'selected': lang == 'es' and 'selected' or None}">Español</option>
    <option value="fa" py:attrs="{'selected': lang == 'fa' and 'selected' or None}">پارسی</option>
    <option value="fi" py:attrs="{'selected': lang == 'fi' and 'selected' or None}">suomi</option>
    <option value="fr" py:attrs="{'selected': lang == 'fr' and 'selected' or None}">Français</option>
    <option value="gu" py:attrs="{'selected': lang == 'gu' and 'selected' or None}">ગુજરાતી</option>
    <option value="he" py:attrs="{'selected': lang == 'he' and 'selected' or None}">עברית</option>
    <option value="hi" py:attrs="{'selected': lang == 'hi' and 'selected' or None}">हिन्दी</option>
    <option value="hu" py:attrs="{'selected': lang == 'hu' and 'selected' or None}">Magyar</option>
    <option value="id" py:attrs="{'selected': lang == 'id' and 'selected' or None}">Indonesia</option>
    <option value="is" py:attrs="{'selected': lang == 'is' and 'selected' or None}">Íslenska</option>
    <option value="it" py:attrs="{'selected': lang == 'it' and 'selected' or None}">Italiano</option>
    <option value="ja" py:attrs="{'selected': lang == 'ja' and 'selected' or None}">日本語</option>
    <option value="kn" py:attrs="{'selected': lang == 'kn' and 'selected' or None}">ಕನ್ನಡ</option>
    <option value="ko" py:attrs="{'selected': lang == 'ko' and 'selected' or None}">한국어</option>
    <option value="ml" py:attrs="{'selected': lang == 'ml' and 'selected' or None}">മലയാളം</option>
    <option value="mr" py:attrs="{'selected': lang == 'mr' and 'selected' or None}">मराठी</option>
    <option value="nl" py:attrs="{'selected': lang == 'nl' and 'selected' or None}">Nederlands</option>
    <option value="or" py:attrs="{'selected': lang == 'or' and 'selected' or None}">ଓଡ଼ିଆ</option>
    <option value="pa" py:attrs="{'selected': lang == 'pa' and 'selected' or None}">ਪੰਜਾਬੀ</option>
    <option value="pl" py:attrs="{'selected': lang == 'pl' and 'selected' or None}">polski</option>
    <option value="pt" py:attrs="{'selected': lang == 'pt' and 'selected' or None}">Português</option>
    <option value="pt_BR" py:attrs="{'selected': lang == 'pt_BR' and 'selected' or None}">Português brasileiro</option>
    <option value="ro" py:attrs="{'selected': lang == 'ro' and 'selected' or None}">română</option>
    <option value="ru" py:attrs="{'selected': lang == 'ru' and 'selected' or None}">Pусский</option>
    <option value="sk" py:attrs="{'selected': lang == 'sk' and 'selected' or None}">slovenčina</option>
    <option value="sq" py:attrs="{'selected': lang == 'sq' and 'selected' or None}">Shqip</option>
    <option value="sr" py:attrs="{'selected': lang == 'sr' and 'selected' or None}">српски</option>
    <option value="sv" py:attrs="{'selected': lang == 'sv' and 'selected' or None}">svenska</option>
    <option value="ta" py:attrs="{'selected': lang == 'ta' and 'selected' or None}">தமிழ்</option>
    <option value="te" py:attrs="{'selected': lang == 'te' and 'selected' or None}">తెలుగు</option>
    <option value="tg" py:attrs="{'selected': lang == 'tg' and 'selected' or None}">тоҷикӣ</option>
    <option value="th" py:attrs="{'selected': lang == 'th' and 'selected' or None}">ไทย</option>
    <option value="uk" py:attrs="{'selected': lang == 'uk' and 'selected' or None}">українська</option>
    <option value="zh_CN" py:attrs="{'selected': lang == 'zh_CN' and 'selected' or None}">简体中文</option>
    <option value="zh_TW" py:attrs="{'selected': lang == 'zh_TW' and 'selected' or None}">正體中文</option>
</html>

